# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Ignore system files and user-specific settings
.idea/
.vscode/
.DS_Store
Thumbs.db

# Ignore node modules and package files
node_modules/
package-lock.json
yarn.lock

# Ignore hidden system folders
.*/ 
!.gitignore # Do not ignore the .gitignore file itself

# Ignore build and cache files
dist/
build/
cache/
*.log

# Ignore OneDrive and user directories
../../OneDrive/
../../AppData/
../../My Music/
../../My Pictures/
../../My Videos/

# Ignore other specific files and folders you don't want in the repo
*.exe
*.zip
*.drawio
*.pdf
*.docx
*.c
../../Downloads/
../../Documents/
../../Desktop/
# Exclude untracked directories
../../OneDrive/
../../node_modules/
../../*.dat
../../*.exe
../../*.log
../../AppData/
../../Downloads/
../../Desktop/
../../*.zip

# Ignore specific tools or temporary files
*.tmp
*.bak
.vscode/
.idea/
azureT/terraform.tfvars
azureT/terraform.tfstate*
